﻿@import url('https://fonts.googleapis.com/css?family=Fira+Sans|Raleway');

body {
    font-family: 'Raleway';
}

.bg-default {
    background-color: #F8F7F2 !important;
}

/*home*/
.card-home-menu {
    max-width: 18rem;
    background-color: transparent !important;
    border-color: transparent !important;
    border-left-color: lightgray !important;
    border-left-width: 0.1rem !important;
    margin-top: 1rem;
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.embed-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*loading*/
#circle {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 150px;
    height: 150px;
}

.loader {
    width: calc(100% - 0px);
    height: calc(100% - 0px);
    border: 5px solid transparent;
    border-top: 5px solid #09f;
    border-radius: 50%;
    animation: rotate 5s linear infinite;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: rgba(0,0,0,0.5);
}
.b-colorAV {
    border-top: 5px solid #006724;
}

.b-colorB {
    border-top: 5px solid #fff;
}

/*Login*/
.full {
    width: 100%;
    height: 92vh;
}

.title-card {
    font-weight: bold
}

.bg-login {
    background-color: #F8F7F2;
}

.input-login {
    background-color: white !important;
}

.bg-site {
    background-color: #ede6e2;
}

.row-margin {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.p-form {
    padding-left: 10%;
    padding-right: 10%;
}

.text-menu-av {
    color: #1E8449;
}

.ir-arriba-av {
    display: block;
    padding: 20px;
    background-repeat: no-repeat;
    font-size: 20px;
    color: #1E8449;
    cursor: pointer;
    position: fixed;
    bottom: 60px;
    right: 20px;
    z-index: 2;
}

.ir-productos-av {
    display: block;
    padding: 20px;
    background-repeat: no-repeat;
    font-size: 20px;
    color: #1E8449;
    cursor: pointer;
    position: fixed;
    bottom: 110px;
    right: 20px;
    z-index: 2;
}

.col-login {
    width: 100%;
    height: 94vh;
    padding-right: 0px;
    padding-left: 0px;
}

.footer-login {
    background-color: #0f1d2d;
    padding-bottom: 10.1rem !important;
    padding-top: 0.35rem !important;
    position: fixed;
    width: 100%;
}

.footer-text {
    font-size: 1rem;
}

.footer-master {
    /*padding-top: 1.5%;
    padding-bottom: 0.5%;*/
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}

.foo-login {
    padding-top: 1.5%;
    padding-bottom: 0.5%;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}

.text-small {
    font-size: small;
}

.border-shadow {
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12), 0 8px 10px -7px rgba(0, 0, 0, .2);
}

.required-label {
    font-size: 14px;
    font-weight: bold;
}

.bg-white-light {
    background-color: rgba(248, 249, 250, 0.64) !important;
}

.btn-bb {
    margin-left: -10px !important;
    margin-right: 10px !important;
}

.b-colorVerde {
    margin-left: 60px !important;
    margin-right: -10px !important;
}

.btn-orange {
    background-color: #FBB03F;
    border-color: #f39543;
    color: white;
}

.invalid-feedback {
    display: block !important;
}

.img-logoBB {
    background-color: transparent;
    border-color: lightgray;
    border-width: .09rem;
}

.img-logoFB {
    background-color: transparent;
    border-color: lightgray;
    border-width: .09rem;
}

.img-logoAV {
    background-color: transparent;
    border-color: lightgray;
    border-width: .09rem;
}


.w-login {
    width: 40%;
}

.mt-6 {
    margin-top: 2.4rem !important;
}

.w-65 {
    width: 65% !important;
}

.w-30 {
    width: 30%;
}

.w-85 {
    width: 85%;
}

.w-22 {
    width: 22%;
}

.bloque-marcas {
    display: none;
}
/*Inicio*/
#main-wrapper {
    width: 100% !important;
    max-width: 100% !important;
}

.md-tabs {
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15) !important;
    border: 0;
    padding: .7rem;
    /*margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 3px;*/
    position: relative;
    border-radius: .25rem;
    margin-top: -1rem;
}

    .md-tabs.nav-tabs {
        border-bottom: none;
    }

    .md-tabs .nav-link.active {
        background-color: rgba(0,0,0,.2) !important;
        color: #fff !important;
        -webkit-transition: all 1s;
        -o-transition: all 1s;
        transition: all 1s;
        -webkit-border-radius: .25rem;
        border-radius: .25rem !important;
    }

.nav-tabs .nav-link:hover, .nav-tabs .nav-link.active {
    border-color: transparent !important;
}

.md-tabs .nav-link {
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
    border: 0;
    color: #fff;
}
/*CSS SIDEBAR*/
.menu-fixed {
    z-index: 1000;
    position: fixed;
    height: calc(100% - 4.57rem);
}

#wrapper {
    min-height: 100% !important;
    height: 100% !important;
    width: 100% !important;
    position: absolute !important;
    top: 0px !important;
    left: 0 !important;
    display: inline-block !important;
}

#main-wrapper {
    height: 100%;
    overflow-y: auto;
    padding: 50px 0 0px 0;
    float: right;
}

#sidebar-wrapper {
    height: 100%;
    padding: 50px 0 0px 0;
    position: fixed;
    top: 2%;
    z-index: 3;
}

#content-wrapper {
    height: 100%;
    overflow-y: auto;
    padding: 50px 0 0px 0;
}

.col-79 {
    max-width: 79.80%;
}

body.sidebar-toggled #main-wrapper {
    max-width: 100%;
}

body.sidebar-toggled #accordionSidebar {
    padding-right: 0px !important;
}

.sidebar {
    width: auto !important;
    min-height: 100vh;
}

/*Alertas*/
.error {
    display: none;
}

.card-header {
    background-color: transparent;
}

.card-login {
    background-color: transparent !important;
    border: transparent;
}

/*CSS Inicio*/
.center-img {
    margin: auto;
    display: block;
}

/*CSS Site master*/
.nav-ocultarmenu {
    margin-top: 1rem;
    margin-right: 0rem !important;
}

.nav {
    z-index: 1 !important;
}

.nav-sidebar {
    position: fixed;
    top: 0;
    width: 260px;
    height: 100%;
}

.sidebar .nav-item .nav-link[data-toggle=collapse].collapsed::after {
    content: none !important;
}

.sidebar-dark .nav-item.active .nav-link {
    background-color: rgba(255, 255, 255, 0.2901960784313726) !important;
}

.text-wrap {
    overflow-wrap: break-word;
}

.bg-gradient-av {
    /*background: linear-gradient(45deg,#1E8449,#1E8449 ) !important;*/
    background-color: #006724 !important;
}

.bg-naranja-fb {
    background-color: #fea520 !important;
}

.bg-boton-gris {
    background-color: gray !important;
}


.master-vm {
    margin-left: 75%;
    width: 10rem;
}

/* CSS PEDIDOS - OrdenVenta*/
.table td, .table th {
    border-top: none !important;
}

table#MainContent_uxDataLisProductos td {
    width: 33%;
}

.table-product {
    width: 80% !important;
}

.table-pedidos {
    border-collapse: initial !important;
}

.card-pedidos {
    width: 100%;
    margin-left: 0px !important;
    margin-right: 0px !important;
    background-color: #006724 !important;
    height: 8rem !important;
    /*border-color: #06f35a !important;*/
}

.text-cat-fb {
    color: white !important;
}

.title-product {
    margin-top: -1rem;
    margin-bottom: 0rem !important;
    display: block;
}

.img-product {
    max-width: 100% !important;
    margin: auto !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

    .img-product.card-img {
        height: 6rem !important;
    }

.f-12 {
    font-size: 12px;
}

.card-img-overlay {
    position: initial !important;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.card-products {
    width: calc(75% - -2.5rem);
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-bottom: 3%;
    height: 36rem;
    margin-right: 2rem !important;
}

.w-form {
    width: 100%;
}

.w-labels {
    width: 80%;
}

.font-weight-bold > span {
    font-weight: normal !important;
}

.sidebar > a, .sidebar > li > a {
    color: white !important;
}


/*CSS Detalle Orden Venta*/
.w-10 {
    width: 10%;
}

.w-12 {
    width: 12%;
}

.w-15 {
    width: 15%;
}

.w-19 {
    width: 19%;
}

.w-35 {
    width: 35%;
}

.fs-9 {
    font-size: 9px;
}

.fs-12 {
    font-size: 12px;
}


.sidebar-master {
    transition: 1.0s;
}

.sidebar.toggled-menu {
    transition: 2.6s;
    margin-left: -70rem;
}

.div-bloquear {
    transition: 0.6s;
    filter: brightness(0.4);
    pointer-events: none;
}

.div-desbloquear {
    transition: 0.6s;
    filter: initial;
    pointer-events: all;
}

.campo-requerido {
    font-size: 1rem !important;
    color: red !important;
}

.icono-ordenventa {
    margin-top: -0.5rem;
}

.agregado-carrito {
    color: #1cc88a;
}

.ir-arriba-av {
    display: block;
    padding: 20px;
    background-repeat: no-repeat;
    font-size: 20px;
    cursor: pointer;
    position: fixed;
    bottom: 60px;
    right: 20px;
    z-index: 2;
}

.ir-productos {
    display: block;
    padding: 20px;
    background-repeat: no-repeat;
    font-size: 20px;
    cursor: pointer;
    color: #1E8449;
    position: fixed;
    bottom: 110px;
    right: 20px;
    z-index: 2;
}

.h-15 {
    height: 15% !important;
}

.cursor {
    cursor: pointer;
}

.btn-carrito {
    background-color: transparent;
    color: transparent;
    border: 0;
    cursor: pointer;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    opacity: .01;
    outline: 0;
    overflow: visible;
    z-index: 20;
}

.span-btn-carrito-agregar {
    padding-left: 3rem !important;
    position: absolute !important;
    color: white;
}

.i-btn-carrito-agregar {
    position: absolute !important;
    color: white;
    padding-top: 0.4rem !important;
}

.nav-scroller {
    position: fixed;
    z-index: 2;
    height: 2.5rem;
    overflow-y: hidden;
    margin-top: 3.8rem !important;
    width: 100%;
    padding: 1%;
}

.marcasAv{
    width:25rem !important;
}