﻿/*Pantalla*/
@media (min-width:1025px) and (max-width: 2024px) {
    #main-wrapper {
        padding: 68px 0 0px 0 !important;
    }

    /*Controles de login*/
    .p-form {
        padding-left: 25%;
        padding-right: 25%;
    }


    /*Cards de categorias-Productos*/
    .img-product.card-img {
        height: 9rem !important;
        width: 12rem !important;
    }

    .card-pedidos {
        height: 10rem !important;
        width: 12rem !important;
        margin-left: 4rem !important;
    }

    .card-pedidosFB {
        height: 10rem !important;
        width: 12rem !important;
        margin-left: 4rem !important;
    }

    .card-products {
        height: 35rem !important;
        width: 11rem !important;
        margin-left: 2rem !important;
        margin-right: 0rem !important;
    }

    #sidebar-wrapper {
        height: 100% !important;
        padding: 66px 0px 0px 0px;
        position: fixed;
        top: 0.4%;
        z-index: 2;
    }

    .span-btn-carrito-agregar {
        padding-left: 2.5rem !important;
        position: absolute !important;
        color: white;
    }
    
    /*Clientes*/
    .col-dropbox {
        -webkit-box-flex: 0;
        /*-ms-flex: 0 0 100%;*/
        flex: 0 0 30%;
        max-width: 50%;
        position: relative;
        width: 100%;
        padding-right: .75rem;
        padding-left: .75rem;
    }

    .col-buscarCliente {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
        flex: 0 0 30%;
        max-width: 58.33333%;
        position: relative;
        width: 100%;
        padding-right: .75rem;
        padding-left: .75rem;
    }

    .col-buscarClienteBoton {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
        flex: 0 0 45.33333%;
        max-width: 58.33333%;
        position: relative;
        width: 100%;
        padding-right: .75rem;
        padding-left: .75rem;
    }

    .border-top-infoCliente {
        border-top: 1px solid #e3e6f0 !important;
    }


    .w-carrito {
        width: 65% !important;
    }


    .marcasAv {
        width: 30rem !important;
    }


    /*Imagen ESR-login*/
    .logo-esr {
        width: 5rem;
    }
}

@media(min-width:1200px) {
    /*Inicio*/
    .b-left {
        border-left-width: 0 !important;
    }

    .tamañoIcono {
        width:7rem !important;
        margin-left:2rem;
    }

    .card-home-menu {
        max-width: 18rem;
        background-color: transparent !important;
        border-color: transparent !important;
        /* border-left-color: lightgray !important; */
        /* border-left-width: 0.1rem !important; */
        margin-top: 1rem;
    }
}

/*Laptop*/
@media(max-width:1024px) {
    .blc-transparent {
        border-left-color: transparent !important;
    }

    #sidebar-wrapper {
        height: 100% !important;
        padding: 66px 0px 0px 0px;
        position: fixed;
        top: 0.4%;
        z-index: 2;
    }
    /*Controles de login*/
    .p-form {
        padding-left: 25%;
        padding-right: 25%;
    }

    /*Imagen ESR-login*/
    .logo-esr {
        width: 5rem;
    }
}

@media(min-width:1020px) {
    .plr-8 {
        padding-left: 8rem;
        padding-right: 8rem;
    }

    .img-logoBB {
        width: calc(55%);
    }

    .img-logoFB {
        width: calc(25%);
    }

    .img-logoAV {
        width: calc(65%);
    }
}

@media (min-width:769px) and (max-width: 1024px) {
    .img-logoBB {
        width: calc(55%);
    }

    .img-logoFB {
        width: calc(25%);
    }

    .img-logoAV {
        width: calc(65%);
    }

    #main-wrapper {
        padding: 70px 0 0px 0 !important;
    }


    /*Cards de categorias-Productos*/
    .img-product.card-img {
        height: 9rem !important;
        width: 12rem !important;
    }

    .card-pedidos {
        height: 10rem !important;
        width: 12rem !important;
        margin-left: 1rem !important;
    }

    .card-pedidosFB {
        height: 10rem !important;
        width: 12rem !important;
        margin-left: 1rem !important;
    }

    .card-products {
        height: 35rem !important;
        width: 13rem !important;
        margin-left: 1rem !important;
        margin-right: 0rem !important;
    }


    .span-btn-carrito-agregar {
        padding-left: 4rem !important;
        position: absolute !important;
        color: white;
    }

    /*Clientes*/
    .col-dropbox {
        -webkit-box-flex: 0;
        /*-ms-flex: 0 0 100%;*/
        flex: 0 0 30%;
        max-width: 50%;
        position: relative;
        width: 100%;
        padding-right: .75rem;
        padding-left: .75rem;
    }

    .col-buscarCliente {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
        flex: 0 0 30%;
        max-width: 58.33333%;
        position: relative;
        width: 100%;
        padding-right: .75rem;
        padding-left: .75rem;
    }

    .col-buscarClienteBoton {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
        flex: 0 0 45.33333%;
        max-width: 58.33333%;
        position: relative;
        width: 100%;
        padding-right: .75rem;
        padding-left: .75rem;
    }

    .border-top-infoCliente {
        border-top: 1px solid #e3e6f0 !important;
    }


    .w-carrito {
        width: 75% !important;
    }

    /*Imagen ESR-login*/
    .logo-esr {
        width: 5rem;
    }
}

/*Tablet*/
@media (max-width:768px) and (orientation:landscape) {
    .mt-11 {
        margin-top: 0rem;
    }
}

@media (min-width:590px) and (max-width:768px) {
    /*media login*/
    .img-logoBB {
        width: calc(55%);
    }

    .img-logoFB {
        width: calc(25%);
    }

    .img-logoAV {
        width: calc(65%);
    }

    .w-login {
        width: 70%;
    }

    .mt-login {
        margin-top: 0rem;
    }

    /*Controles de login*/
    .p-form {
        padding-left: 25%;
        padding-right: 25%;
    }

    .full {
        width: 100%;
        height: 85vh !important;
    }

    /*media login-marcas*/
    .mt-11 {
        margin-top: 1rem !important;
    }

    /*media sidebar-master*/
    #sidebar-wrapper {
        height: 100% !important;
        padding: 66px 0px 0px 0px;
        position: fixed;
        top: 0.5%;
        z-index: 2;
    }

    /*media nav-master*/
    .master-vm {
        margin-left: 97%;
        width: 10rem;
    }

    /*media-inicio*/
    .content-inicio {
        margin-left: 1rem;
    }

    .blc-transparent {
        border-left-color: transparent !important;
    }

    .mt10 {
        margin-top: -10% !important;
    }

    .w-form {
        width: 84%;
    }

    .w-labels {
        width: 82%;
    }


    /*Clientes*/
    .col-dropbox {
        -webkit-box-flex: 0;
        /*-ms-flex: 0 0 100%;*/
        flex: 0 0 50%;
        max-width: 50%;
        position: relative;
        width: 100%;
        padding-right: .75rem;
        padding-left: .75rem;
    }
    .col-buscarCliente {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
        flex: 0 0 50.33333%;
        max-width: 58.33333%;
        position: relative;
        width: 100%;
        padding-right: .75rem;
        padding-left: .75rem;
    }
    .col-buscarClienteBoton {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
        flex: 0 0 45.33333%;
        max-width: 58.33333%;
        position: relative;
        width: 100%;
        padding-right: .75rem;
        padding-left: .75rem;
    }

    .border-top-infoCliente {
        border-top: 1px solid #e3e6f0 !important;
    }

    /*Cards de categorias-Productos*/
    .categoria-left {
        margin-left: 5rem !important;
    }

    .img-product.card-img {
        height: 9rem !important;
        width: 12rem !important;
    }

    .card-pedidos {
        height: 10rem !important;
        width: 7rem !important;
        margin-left: 1rem !important;
        margin-right: 0rem !important;
    }

    .card-pedidosFB {
        height: 10rem !important;
        width: 7rem !important;
        margin-left: 1rem !important;
        margin-right: 0rem !important;
    }

    .card-products {
        height: 35rem !important;
        width: 10rem !important;
        margin-left: 1rem !important;
        margin-right: 0rem !important;
    }

    .span-btn-carrito-agregar {
        padding-left: 2rem !important;
        position: absolute !important;
        color: white;
    }

    /*Imagen ESR-login*/
    .logo-esr {
        width: 4rem;
    }
}

@media (min-width: 470px) and (max-width: 589px) {
    .img-logoBB {
        width: calc(55%);
    }

    .img-logoFB {
        width: calc(65%);
    }

    .img-logoAV {
        width: calc(95%);
    }

    .w-form {
        width: 100%;
    }

    .w-labels {
        width: 100%;
    }

    .table-product {
        width: 100% !important;
    }

    .card-products {
        height: 31rem !important;
        width: 9rem !important;
        margin-left: 1rem !important;
        margin-right: 0rem !important;
    }

    /*Controles de login*/
    .p-form {
        padding-left: 20%;
        padding-right: 20%;
    }

}

/*Celular Grande*/
@media(max-width:530px) {
    .span-btn-carrito-agregar {
        display: none;
    }

    .i-btn-carrito-agregar {
        position: absolute !important;
        color: white;
        padding-top: 0.2rem !important;
        padding-left: 2.3rem !important;
    }

    /*Controles de login*/
    .p-form {
        padding-left: 16%;
        padding-right: 16%;
    }


    /*Imagen ESR-login*/
    .logo-esr {
        width: 3rem;
    }

    /*Inicio*/
    .card-home-menu {
        max-width: 18rem;
        background-color: transparent !important;
        border-color: transparent !important;
        /* border-left-color: lightgray !important; */
        /* border-left-width: 0.1rem !important; */
        margin-top: 1rem;
    }

    /*Clientes*/
    .col-dropbox {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .col-buscarCliente {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    /*Cards de categorias-Productos*/
    .img-product.card-img {
        height: 9rem !important;
        width: 12rem !important;
    }

    .card-pedidos {
        height: 10rem !important;
        width: 9rem !important;
        margin-left: 1rem !important;
        margin-right: 0rem !important;
    }

    .card-pedidosFB {
        height: 10rem !important;
        width: 9rem !important;
        margin-left: 1rem !important;
        margin-right: 0rem !important;
    }

    .card-products {
        height: 31rem !important;
        width: 9rem !important;
        margin-left: 1rem !important;
        margin-right: 0rem !important;
    }
}

@media(max-width:502px) {
    .hide {
        visibility: hidden;
    }

    .bloque-marcas {
        display: block;
    }

}

@media (max-width:469px) {
    /*Imagenes de las compañias*/
    .img-logoBB {
        width: calc(64%);
    }

    .img-logoFB {
        width: calc(32%);
    }

    .img-logoAV {
        width: calc(95%);
    }

    .btn-fb {
        margin-left: 0px !important;
    }

    /*Bloque marcar login*/
    .mt-11 {
        margin-top: 2rem !important;
    }

    .t-cart {
        margin-left: -7%;
    }

    .span-btn-carrito-agregar {
        display: none;
    }

    .i-btn-carrito-agregar {
        position: absolute !important;
        color: white;
        padding-top: 0.2rem !important;
        padding-left: 1.5rem !important;
    }

    .f-12 {
        font-size: 10px;
    }

    .table-product {
        width: 100% !important;
    }

    .w-labels {
        width: 100%;
    }

    .w-input {
        margin-left: .25rem !important;
        width: 95%;
    }

    .t-cart {
        margin-left: 0%;
    }

}

/*Celular mediano*/
@media (max-width:425px) {
    /*Cards de categorias-Productos*/
    .img-product.card-img {
        height: 9rem !important;
        width: 12rem !important;
    }

    .card-pedidos {
        height: 10rem !important;
        width: 9rem !important;
        margin-left: 1rem !important;
        margin-right: 0rem !important;
    }

    .card-pedidosFB {
        height: 10rem !important;
        width: 9rem !important;
        margin-left: 1rem !important;
        margin-right: 0rem !important;
    }


    .card-products {
        height: 31rem !important;
        width: 9rem !important;
        margin-left: 1rem !important;
        margin-right: 0rem !important;
    }


    .i-btn-carrito-agregar {
        position: absolute !important;
        color: white;
        padding-top: 0.2rem !important;
        padding-left: 2.2rem !important;
    }

    .marcasAv {
        width: 20rem !important;
    }
}

/*Celular chico*/
@media (max-width:375px) {
    /*Imagenes de las compañias*/
    .img-logoBB {
        width: calc(64%);
    }

    .img-logoFB {
        width: calc(32%);
    }

    .img-logoAV {
        width: calc(95%);
    }

    .btn-fb {
        margin-left: 0px !important;
    }

    /*Bloque marcar login*/
    .mt-11 {
        margin-top: 2rem !important;
    }

    /*Controles de login*/
    .p-form {
        padding-left: 13%;
        padding-right: 13%;
    }


    .w-carrito {
        width: 100% !important;
    }

    /*Inicio*/
    .card-home-menu {
        max-width: 18rem;
        background-color: transparent !important;
        border-color: transparent !important;
        /* border-left-color: lightgray !important; */
        /* border-left-width: 0.1rem !important; */
        margin-top: 1rem;
    }

    /*Clientes*/
    .col-dropbox {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .col-buscarCliente {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .border-top-infoCliente {
        border-top: 0px solid #e3e6f0 !important;
    }

    /*Cards de categorias-Productos*/
    .img-product.card-img {
        height: 9rem !important;
        width: 12rem !important;
    }

    .card-pedidos {
        height: 10rem !important;
        width: 12rem !important;
        margin-left: 3rem !important;
    }

    .card-pedidosFB {
        height: 10rem !important;
        width: 12rem !important;
        margin-left: 3rem !important;
    }

    .card-products {
        height: 31rem !important;
        width: 12rem !important;
        margin-left: 3rem !important;
    }

    .i-btn-carrito-agregar {
        position: absolute !important;
        color: white;
        padding-top: 0.2rem !important;
        padding-left: 3.5rem !important;
    }

    .marcasAv {
        width: 19rem !important;
    }
}

@media (max-width:320px)
{
    /*Cards de categorias-Productos*/
    .img-product.card-img {
        height: 9rem !important;
        width: 12rem !important;
    }

    .i-btn-carrito-agregar {
        position: absolute !important;
        color: white;
        padding-top: 0.2rem !important;
        padding-left: 3.5rem !important;
    }

    .card-pedidos {
        height: 10rem !important;
        width: 12rem !important;
        margin-left: 1rem !important;
    }

    .card-pedidosFB {
        height: 10rem !important;
        width: 12rem !important;
        margin-left: 1rem !important;
    }

    .card-products {
        height: 31rem !important;
        margin-left: 1rem !important;
    }

    .marcasAv {
        width: 18rem !important;
    }

    .logo-esr {
        width: 3rem;
    }
}

@media only screen and (min-width: 320px) and (max-width: 980px) and (orientation: landscape) {
    #sidebar-wrapper {
        top: 2.6% !important;
        overflow: auto !important;
    }
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}
